# Ignorar los carpetas
/.vscode

# Ignorar la carpeta de Libros
/Libros/*.pdf

# Semana 3
/1B_Aplicació_Web/Semana_3-AWeb/Activities_S3/*.pdf

# Semana 4
/1B_Aplicació_Web/Semana_4-AWeb/Autonomous_work/video/Tom_y_Jerry_(2021).mp4
/1B_Aplicació_Web/Semana_4-AWeb/Activities_S4/*.pdf
/1B_Aplicació_Web/Semana_4-AWeb/Activities_S4/*.docx

# Semana 5
/1B_Aplicació_Web/Semana_5-AWeb/Activities_S5/*.pdf
/1B_Aplicació_Web/Semana_5-AWeb/Activities_S5/*.docx

# Semana 6
/1B_Aplicació_Web/Semana_6-AWeb/Activities_S6/*.pdf
/1B_Aplicació_Web/Semana_6-AWeb/Activities_S6/*.docx

# Semana 7
/1B_Aplicació_Web/Semana_7-AWeb/Activities_S7/*.pdf
/1B_Aplicació_Web/Semana_7-AWeb/Activities_S7/*.docx

# Semana 8
/1B_Aplicació_Web/Semana_8-AWeb/Activities_S8/*.pdf
/1B_Aplicació_Web/Semana_8-AWeb/Activities_S8/*.docx
/1B_Aplicació_Web/Semana_8-AWeb/Autonomous_work_8/video/*.mp4

# Semana 9 (1B_Aplicacion_Web)
/1B_Aplicació_Web/Semana_9-AWeb/Activities_S9/*.pdf
/1B_Aplicació_Web/Semana_9-AWeb/Activities_S9/*.docx
/1B_Aplicació_Web/Semana_9-AWeb/Activities_S9/Proyecto/img/*.svg
/1B_Aplicació_Web/Semana_9-AWeb/Activities_S9/Proyecto/img/*.png
/1B_Aplicació_Web/Semana_9-AWeb/Calahorrano_David_E_IB
/1B_Aplicació_Web/Semana_9-AWeb/

// SEGUNDO
// Semana 9 (2B_A. Web)
/2B_Aplicación_Web/Semana_9-AWeb/Activities_S9
/2B_Aplicación_Web/Semana_9-AWeb/Autonomous_work_S9/javascript/menIA.js

// Semana 10
// Semana 11
/2B_Aplicación_Web/Semana_11-AWeb/Activities_S11
/2B_Aplicación_Web/Semana_11-AWeb/Classwork_S11/comandos.sh
/2B_Aplicación_Web/Semana_11-AWeb/Classwork_S11/cw2/Angular.rar

//Semana 12
/2B_Aplicación_Web/Semana_12-AWeb/Activities_S12
/2B_Aplicación_Web/Semana_12-AWeb/Classwork_S12/comandos_S12.sh
/2B_Aplicación_Web/Semana_12-AWeb/Classwork_S12/cw2_S12/backend/node_modules
/2B_Aplicación_Web/Semana_12-AWeb/Classwork_S12/cw2_S12/backendv2.zip

// Semana 13
/2B_Aplicación_Web/Semana_13-AWeb/Classwork_S13/cw1_S13/concesionario/node_modules
/2B_Aplicación_Web/Semana_13-AWeb/Classwork_S13/cw1_S13/concesionario.rar

// Semana 15
/2B_Aplicación_Web/Semana_15-AWeb/Activities_S15
/2B_Aplicación_Web/Semana_15-AWeb/Classwork_S15/cw1_S15