<h1> {{titulo}} </h1>
<p> Archivo> zapatilla.component.html </p>
<h2> {{zapatillas}} </h2>
<h2> Zapatillas </h2>
<ul>
    <li *ngFor="let deportiva of zapatillas">
        Parte 1 ->
        {{deportiva.marca}} - {{deportiva.color}} - {{deportiva.precio}} - {{deportiva.stock}}
    </li>
    <br>
    <li *ngFor="let deportiva of zapatillas">
        Parte 2 ->
        <span *ngIf = "deportiva.stock">
            {{deportiva.marca}} - {{deportiva.color}} - {{deportiva.precio}} - {{deportiva.stock}}
        </span>
    </li>
</ul>

<h2> Colores </h2>
<input type="text" [(ngModel)]="color" />
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'blue'">
        El color es <span [ngStyle]="{'background': color}">azul</span>
    </li>
    <li *ngSwitchCase="'red'">
        El color es <span [ngStyle]="{'background': color}">rojo</span>
    </li>
    <li *ngSwitchCase="'green'">
        El color es <span [ngStyle]="{'background': color}">verde</span>
    </li>
    <li *ngSwitchCase="'orange'">
        El color es <span [ngStyle]="{'background': color}">anaranjado</span>
    </li>
</ul>